*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

p {
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

:focus {
  outline: none;
}

::-moz-selection {
  color: #fff;
  background: #61B9C4;
}

::selection {
  color: #fff;
  background: #61B9C4;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

/* - Home Title - */
.home-title {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 130px;
}

.home-title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 2px;
  background-color: #61B9C4;
}

.home-title__text {
  margin: 0;
  color: #181717;
  font-size: 32px;
  font-weight: 300;
}

.home-title__text strong {
  font-weight: 700;
}

/* - Header - */
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
}

.header__logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 125px;
  height: 125px;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
}

.navigation {
  margin-left: auto;
  margin-right: 30px;
}

.navigation__link {
  padding-left: 15px;
  color: #000;
  font-weight: 700;
  font-size: 16px;
  transition: color 250ms;
}

.navigation__link:hover {
  color: #61B9C4;
  transition: color 250ms;
}

.header__phone {
  margin-right: 15px;
}
 
.header__phone-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  padding: 7px;
  border: 1px solid #61B9C4;
  border-radius: 4px;
}

.header__phone-text {
  position: relative;
  top: 2px;
  margin-left: 5px;
  color: #181717;
  font-size: 14px;
  font-weight: 500;
}

.header__language {
  height: 38px;
  padding: 7px;
  border: 1px solid #181717;
  border-radius: 4px;
}

.header__language--en {
  background: url("../images/icon-flag-en.png") no-repeat left 7px center;
  background-size: 24px 24px;
}

.header__language-select {
  padding-left: 36px;
  padding-right: 14px;
  color: #181717;
  font-size: 11px;
  font-weight: 500;
  appearance: none;
  border: none;
  background: transparent url("../images/icon-arrow.png") no-repeat right center;
  background-size: 9px 6px;
}

/* - Products - */
.products {
  margin-bottom: 50px;
}

.product__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.product__list-item {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
}

.product__list-link {
  display: block;
}

.product__list-image {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product__list-name {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 25px 20px;
  margin: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  line-height: 22px;
}

/* - Industries - */
.industries {
  margin-bottom: 50px;
}

.industries__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  height: 470px;
  background: url("../images/banner-industries.jpg") no-repeat center top;
  background-size: contain;
}

.industries__item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 25%;
  height: auto;
  max-height: 470px;
  padding-bottom: 30px;
  background-color: rgba(0, 0, 0, .3);
  border-right: 1px solid #fff;
  transition: background-color 250ms;
}

.industries__item:hover {
  background-color: transparent;
  transition: background-color 250ms;
}

.industries__name {
  display: block;
  margin: 0;
  color: #fff;
  font-size: 36px;
  font-weight: 300;
  padding-left: 30px;
  padding-right: 30px;
}

.industries__description {
  padding-left: 30px;
  padding-right: 30px;
  min-height: 120px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}

.industries__more-link {
  position: relative;
  padding-left: 40px;
  color: #fff;
  font-size: 14px;
}

.industries__more-link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 1px;
  background-color: #C4C4C4;
}
