*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000;
  background-color: #fff;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

p {
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

:focus {
  outline: none;
}

::-moz-selection {
  color: #fff;
  background: #61B9C4;
}

::selection {
  color: #fff;
  background: #61B9C4;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

/* - Home Title - */
.home-title {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 130px;
}

.home-title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 2px;
  background-color: #61B9C4;
}

.home-title__text {
  margin: 0;
  color: #181717;
  font-size: 32px;
  font-weight: 300;
}

.home-title__text strong {
  font-weight: 700;
}

/* - Header - */
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
}

.header__logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 125px;
  height: 125px;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
}

.navigation {
  margin-left: auto;
  margin-right: 30px;
}

.navigation__link {
  padding-left: 15px;
  color: #000;
  font-weight: 700;
  font-size: 16px;
  transition: color 250ms;
}

.navigation__link:hover {
  color: #61B9C4;
  transition: color 250ms;
}

.header__phone {
  margin-right: 15px;
}
 
.header__phone-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  padding: 7px;
  border: 1px solid #61B9C4;
  border-radius: 4px;
}

.header__phone-text {
  position: relative;
  top: 2px;
  margin-left: 5px;
  color: #181717;
  font-size: 14px;
  font-weight: 500;
}

.header__language {
  height: 38px;
  padding: 7px;
  border: 1px solid #181717;
  border-radius: 4px;
}

.header__language--en {
  background: url("../images/icon-flag-en.png") no-repeat left 7px center;
  background-size: 24px 24px;
}

.header__language-select {
  padding-left: 36px;
  padding-right: 14px;
  color: #181717;
  font-size: 11px;
  font-weight: 500;
  appearance: none;
  border: none;
  background: transparent url("../images/icon-arrow.png") no-repeat right center;
  background-size: 9px 6px;
}

/* - Products - */
.products {
  margin-bottom: 50px;
}

.product__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.product__list-item {
  position: relative;
  margin-left: 15px;
  margin-right: 15px;
}

.product__list-link {
  display: block;
}

.product__list-image {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product__list-name {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 25px 20px;
  margin: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  line-height: 22px;
}

/* - Industries - */
.industries {
  margin-bottom: 50px;
}

.industries__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  height: 470px;
  background: url("../images/banner-industries.jpg") no-repeat center top;
  background-size: contain;
}

.industries__item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 25%;
  height: auto;
  max-height: 470px;
  padding-bottom: 30px;
  background-color: rgba(0, 0, 0, .3);
  border-right: 1px solid #fff;
  transition: background-color 250ms;
}

.industries__item:hover {
  background-color: transparent;
  transition: background-color 250ms;
}

.industries__name {
  display: block;
  margin: 0;
  color: #fff;
  font-size: 36px;
  font-weight: 300;
  padding-left: 30px;
  padding-right: 30px;
}

.industries__description {
  padding-left: 30px;
  padding-right: 30px;
  min-height: 120px;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}

.industries__more-link {
  position: relative;
  padding-left: 40px;
  color: #fff;
  font-size: 14px;
}

.industries__more-link::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 1px;
  background-color: #C4C4C4;
}

/* - About - */
.about {
  margin-bottom: 50px;
}

.about__wrapper {
  display: flex;
  align-items: center;
}

.about__image {
  border-radius: 5px;
}

.about__content {
  padding-right: 65px;
  padding-left: 65px;
}

.about__paragraph {
  margin: 0 0 45px 0;
  font-size: 18px;
  line-height: 32px;
}

.about__statistics {
  display: flex;
  justify-content: space-around;
}

.about__statistics-row {
  text-align: center;
}

.about__statistics-number {
  margin: 18px 0 0;
  font-size: 30px;
  font-weight: 800;
}

.about__statistics-text {
  margin: 0;
  font-size: 18px;
}

/* - News - */
.news {
  margin-bottom: 50px;
}

.news .home-title {
  margin-top: 0;
}

.news .container {
  display: flex;
}

.news__item {
  margin-bottom: 25px;
}

.news__link {
  padding-left: 80px;
  background: url("../images/icon-news.png") no-repeat left top;
  background-size: 50px 60px;
}

.news__link:hover {
  background-image: url("../images/icon-news-hover.png");
  transition: background-image 250ms;
}

.news__date {
  display: block;
  margin-bottom: 10px;;
  color: #ddd;
  font-size: 14px;
}

.news__title {
  display: block;
  padding-bottom: 25px;
  color: #181717;
  font-size: 18px;
  line-height: 22px;
  border-bottom: 1px solid #ddd;
}

.news__link:hover .news__date,
.news__link:hover .news__title {
  color: #61B9C4;
  transition: color 250ms;
}

.news__bottom {
  text-align: right;
}

.news__all-button {
  display: inline-block;
  padding: 12px 20px;
  color: #181717;
  font-weight: 700;
  font-size: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.news__all-button:hover {
  color: #fff;
  border-color: #61B9C4;
  background-color: #61B9C4;
  transition: all 250ms;
}

.news__cover {
  margin-left: 60px;
  border-radius: 5px;
}

/* - Footer Links - */
.footer__links {
  margin-bottom: 50px;
  padding-top: 30px;
  border-top: 1px solid #ddd;
}

.footer__links .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer__link {
  display: inline-flex;
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% / 3);
}

.footer__link:hover {
  color: #61B9C4;
  transition: color 250ms;
}

.footer__link-content {
  display: inline-block;
  margin-left: 20px;
}

.footer__link-title {
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
}

.footer__link-text {
  font-size: 14px;
}

/* - Footer - */
.footer {
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #61B9C4;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.customer-service__title,
.social-media__title {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}

.customer-service__title strong,
.social-media__title strong {
  font-weight: 700;
}

/* - Customer Service - */
.customer-service__link {
  display: inline-flex;
  align-items: center;
}

.customer-service__text {
  display: inline-block;
  margin-left: 10px;
  font-weight: 300;
  font-size: 24px;
  color: #fff;
}

/* - Social Media - */
.social-media__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-media__list-item {
  margin-left: 10px;
}

.social-media__list-item:first-child {
  margin-left: 0;
}

/* - Newsletter - */
.newsletter {
  margin-bottom: 90px;
}

.newsletter__label {
  display: block;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 24px;
  color: #fff;
}

.newsletter__label strong {
  font-weight: 700;
}

.newsletter__form-group {
  position: relative;
}

.newsletter__input {
  width: 100%;
  padding-left: 72px;
  font-size: 14px;
  font-weight: 700;
  border: 0;
  height: 60px;
  border-radius: 5px;
  background: #fff url("../images/icon-envelope.png") no-repeat left 20px center;
  background-size: 32px;
}

.newsletter__button {
  position: absolute;
  right: 20px;
  top: 50%;
  width: 32px;
  height: 32px;
  transform: translateY(-50%);
  border: 0;
  background: transparent;
  cursor: pointer;
}

/* - Factories - */
.factories {
  padding-bottom: 50px;
  background-color: #61B9C4;
  border-top: 1px solid rgba(255, 255, 255, .3);
}

.factories .container {
  display: flex;
}

.factories__item {
  width: 50%;
}

.factories__figure {
  display: inline-block;
  margin: -36px 0 30px 0;
  padding: 0 18px;
  background-color: #61B9C4;
}

.factories__title {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

.factories__address {
  display: block;
  margin-bottom: 10px;
  max-width: 340px;
  color: #fff;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}

.factories__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.factories__list-item {
  margin-bottom: 2px;
  color: #fff;
  font-size: 14px;
}

.factories__list-item:last-child {
  margin-bottom: 0;
}

/* - Copyright - */
.copyright {
  background-color: #61B9C4;
  border-top: 1px solid rgba(255, 255, 255, .3);
}

.copyright .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
}

.copyright__text {
  color: #fff;
  font-size: 11px;
}

.copyright__development-link {
  position: relative;
  top: 2px;
  margin-left: 10px;
}
